<h2>Bem vindo ao levvme</h2>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">O que posso fazer no site?</div>
      <div class="panel-body">
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur atque ad quis error laudantium voluptate quod.
          Blanditiis omnis, optio repellendus magni reprehenderit eos labore pariatur nobis nisi modi, consequatur sint.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Mais informações</div>
      <div class="panel-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit blanditiis, eius totam voluptatem cum praesentium tenetur,
          fugit cupiditate necessitatibus aspernatur qui molestiae sit, quas eligendi voluptate reiciendis. A, dolorem id?</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Links</div>
      <div class="panel-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit blanditiis, eius totam voluptatem cum praesentium tenetur,
          fugit cupiditate necessitatibus aspernatur qui molestiae sit, quas eligendi voluptate reiciendis. A, dolorem id?</p>
      </div>
    </div>
  </div>
</div>